html, body {
    height: 100%;
}
body {
    background: url("../images/body-tail.gif") repeat scroll center top transparent;
    color: #222222;
    font: 12px/21px Arial,Helvetica,sans-serif;
    min-width: 960px;
    position: relative;
}

#tabs 
{
    width:50%;
    }

.title
{
   
    padding: 15px 0 0 20px;
    }
    
h1
{
   
   font: 300 34px/65px 'Ubuntu',sans-serif;
    
    color: #F6F6F6;
    }
    
.nav 
{
    
    width: 100%;
    display: block;
    }
    
.navigation 
{
   background: url("../images/shadow.png") no-repeat scroll center bottom transparent;
   margin-bottom: -36px;
   padding: 5px 0 25px;
   
    
    }  
      
  .header 
  {
   padding: 20px 0 50px;   
      }
      
          
   .main 
   {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #FFFFFF;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin: 0 -1px;
    padding: 25px 0 40px 25px;   
       }
 
 .content 
 {
     width: 100%;
     padding-bottom: 63px;
     }
       
   .container 
   {
       
      margin: 0 auto;
    width: 939px;
    position: relative;  
       } 
    .nav {
    background: url("../images/nav-tail.gif") repeat-x scroll center top #3681C3;
    border-radius: 7px 7px 7px 7px;
    
    box-shadow: 0 1px 5px #1A4CA5;
    display:block; 
}

.menu > li {
    background: url("../images/menu-separator.png") repeat-y scroll right top transparent;
     float: left;
    font: bold 13px/16px Arial,Helvetica,sans-serif;
    padding-right: 2px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.43);
    width: 186px;
}

.menu > li.last-item {
    background: none repeat scroll 0 0 transparent;
    padding-right: 0;
    
}

.menu > li.last-item > a 
{
    border-radius: 0 7px 7px 0;
    }
    
.menu > li.first-item > a 
{
  border-radius: 7px 0 0 7px;  
    }    
    
.menu > li > a:hover
{
   background-color: #4EA3D2;
    background-position: center top;
    background-repeat: repeat-x; 
    
    }
    
.menu
{
    margin-left:0px;
    display: table;
    padding: 0;
     list-style-type:none;
     margin: 12 0 12 0px;
    
}


.menu > li > a {
    background: url("../images/menu-hover.gif") no-repeat scroll center -999em transparent;
    color: #FFFFFF;
    display: block;
    padding: 23px 0 24px;
    text-decoration: none;
}

.tabs > li> a {
    font: bold 12px/16px Arial,Helvetica,sans-serif;
    
    }