.nav-shadow{
	width:100%;
	padding-bottom:36px;
	background:url(../images/shadow.png) center bottom no-repeat;
	position:relative;
	margin-bottom:-36px;
	z-index:990;
}
nav{
	background:url(../images/nav-tail.gif) center top repeat-x #3681c3;
	border-top:1px solid #63c2e1;
	border-radius:7px;
	box-shadow:0 1px 5px #1a4ca5;
	-webkit-box-shadow:0 1px 5px #1a4ca5;
}
.menu {list-style:none; margin-top:-1px;}
.menu > li {
	position:relative;
	float:left;
	background:url(../images/menu-separator.png) right top repeat-y;
	font:bold 12px/16px Arial, Helvetica, sans-serif;
	text-shadow:0 1px 0 rgba(0,0,0,.43);
	text-align:center;
	padding-right:2px;
	width:186px;
}
	.menu > li.last-item{padding-right:0; background:none;}
	.menu > li > a {
		display:block;
		padding:23px 0 24px;
		color:#fff;
		text-decoration:none;
		background:url(../images/menu-hover.gif) center -999em no-repeat;
	}
		.menu > li:first-child > a{border-radius:7px 0 0 7px;}
		.menu > li.last-item > a{border-radius:0 7px 7px 0;}
		.menu > li.sfHover > a, .menu > li > a:hover, .menu > li.current > a {
			text-decoration:none;
			background-position:center top;
			background-repeat:repeat-x;
			background-color:#4ea3d2;
		}
	.menu .menu-arrow{display:none;}
/***submenu***/
.menu ul {
	position:absolute;
	top:-999em;
	min-width:142px; 
	display:none;
	padding:11px 8px 7px 7px;
	background:url(../images/submenu-tail.gif) center top repeat-x #d3eaf5;
	z-index:999;
	border-radius:0 0 7px 7px;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.24);
	-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.24);
}
.menu li li{
	width:100%;
	padding:0;
	margin-bottom:3px;
	position:relative;
	background:url(../images/submenu-separator.gif) repeat-x 0 bottom;
	border-radius:7px;
}
	.menu li li.last-item{background-image:none; margin-bottom:3px !important;}
	.menu > li li:hover,
	.menu > li li.sfHover {
		background:#fff;
		box-shadow: 0px 1px 3px #b7d8ec;
		-webkit-box-shadow: 0px 1px 3px #b7d8ec;
	}
	.menu li li a{
		display:block;
		color:#000;
		text-decoration:none;
		padding: 10px 0px 11px;
	}
		.menu li li > a:hover,.menu li li.sfHover > a{text-shadow:none; text-decoration:none;}
.menu li:hover ul, .menu li.sfHover ul {left:-1px; top:62px;}
.menu li:hover li ul, .menu li.sfHover li ul {top:-999em;}
/***subsubmenu***/
.menu ul ul{
	padding:8px 8px 7px 7px;
	background:#d3eaf5;
	border-radius:7px;
}
.menu li li:hover ul, .menu li li.sfHover ul {left:151px; top:-8px;}
.menu li li:hover li ul, .menu li li.sfHover li ul {top:-999em;}

@media only screen and (max-width: 995px){
	.nav-shadow{padding-bottom:30px; background-image:url(../images/shadow-tp.png); margin-bottom:-30px;}
	.menu > li {width:148px;}
	.menu > li > a .menu-arrow{display:inline-block; width:9px; height:6px; overflow:hidden; text-indent:-999em; font-size:0; line-height:0; background:url(../images/menu-arrow.gif) center top no-repeat; margin-left:6px; vertical-align:middle;}
	.menu ul .menu-arrow{display:inline;}
}

@media only screen and (max-width: 767px) {
	.nav-shadow{padding-bottom:0; background:none; margin-bottom:20px;}
	nav{width:100%; background:none; border:none; border-radius:0; box-shadow:none; -webkit-box-shadow:none;}
	.menu {margin-top:0;}
		.menu > li {float:none; margin-right:0px; margin-bottom:10px; padding-right:0; width:auto; background:url(../images/nav-tail.gif) center top repeat-x #3681c3 !important; border-top:1px solid #63c2e1; border-radius:7px; box-shadow:0 1px 5px #1a4ca5; -webkit-box-shadow:0 1px 5px #1a4ca5; text-align:left;}
			.menu > li > a{border-radius:7px !important; margin-top:-1px; padding:23px 20px 24px;}
				.menu > li.sfHover > a{border-radius:7px 7px 0 0 !important;}
	/***submenu***/
	.menu ul {position:static; width:auto; box-shadow:none; -webkit-box-shadow:none;}
		.menu ul li{text-align:left;}
			.menu li li a{padding: 10px 20px 11px;}
	.menu ul .menu-arrow{display:inline-block; width:9px; height:6px; overflow:hidden; text-indent:-999em; font-size:0; line-height:0; background:url(../images/submenu-arrow.gif) center top no-repeat; margin-left:6px; vertical-align:middle;}
	/***subsubmenu***/
	.menu ul ul{background:none; padding: 8px 0 20px 40px; box-shadow:none; -webkit-box-shadow:none;}
		.menu ul ul li{margin-bottom:15px; background:none; border-radius:0;}
		.menu ul ul li.last-item{margin-bottom:0 !important;}
			.menu ul ul li:hover{background:none; box-shadow: none; -webkit-box-shadow: none;}
				.menu ul ul li a{display:inline; padding: 0;}
					.menu ul ul li > a:hover{color:#3681c3;}
}